<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Car Loans">
    <classes>
      <class name="TestNG.Introduction"/>
      
      <class name="TestNG.CarLoans">
      	<methods>
      		<exclude name="web.*"/>
      	</methods>
      </class>
    </classes>
  </test> 
  
  <test thread-count="5" name="Home Loans">
    <classes>
      <class name="homeLoans.HomeLoans">
      	<methods>
      		<include name="mobileHomeLoan"/>
      	</methods>
      </class>
    </classes>
  </test>
</suite> 
